*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header{
    width: 100%;
    padding: 10px 0 15px 30px;
    
}
.logo-image{
    
    vertical-align: middle;
    line-height: 1;
    padding-top: 5px;
}

.logo-name{
    font-weight: bolder;
    font-size: 2rem;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    
   
}
main{
    width: 100%;
    background-color: #f6f8f9;
    padding: 30px;
    color: #444851;
}
.buttons{
    margin: 0 auto;
    width: 70%;
    background-color: white;
    padding: 1% 4%;
    border-bottom: 2px solid #f6f8f9;
}

.button{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid ;
}
a{
    text-decoration: none;
    
}
a:visited.task{
    color: white;
}
a:visited.section{
    color: #c8cdd2;
}
.add-task{
    background-color: #47adf1;
    color:white;
}
.add-section{
    color: #c8cdd2;
    border-color: #c5cbd0;
    background-color: white;

}
section{
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 2% 4%;
    font-weight: bold;
}

.section-header{
    margin-bottom: 5px;
}
.list{
    padding-left: 10px;
    list-style-type: none;
}
li{
    margin-bottom: 10px;
}
.checkbox{
    border-radius: 50%;
    height: 5px;
    width: 5px;
    padding: 0 3px;
}
.checkbox.yes{
    font-size: 0.75em;
    color: green;
    border: 2px solid green;
}

.checkbox.no{
    font-size: 0.75em;
    color: RED;
    border: 2px solid RED;
}
.tag{
    background-color: #45abea;
    border-radius: 7px;
    font-size: 10px;
    padding: 3px 6px;
    color: white;
}

li>span {
    vertical-align: middle;
}

.purple{
    background-color: #9c72e4;
}
.green{
    background-color: #64c0a9;
}
.orange{
    background-color: #f29e33;
}
.pink{
    background-color: #d863a1;
}
.lime{
    background-color: #b0c926;
}